<script>
  $(function() {
    $('#nav-menu-icon').click(function(e) {

      // fade out menu icon
      $('#nav-menu-icon').fadeOut(200);

      // move menu off screen
      menuWidth = $('#nav-menu').css('width');
      startPos = '-' + menuWidth;
      endPos = '0px';
      
      $('#nav-menu').css({ 'right': startPos });
      $('#nav-menu').toggleClass('visible'); // make visible
      $('#nav-menu').animate({ right: endPos }, 250, 'swing', function() {
        // TODO fade in a close button
      });
    });
  });
</script>

<%= image_tag "menu-icon-red.png", :id => "nav-menu-icon", :class => "big-padding-top" %>

<div id="nav-menu">  

  <ul id="nav-menu-list">
    <li><a href="/" class="giorgio-font grey-font link-grey">Home</a></li>
    <li><a href="/projects" class="giorgio-font grey-font link-grey">Work</a></li>
    <li><a href="/instagram" class="giorgio-font grey-font link-grey">Instagram</a></li>
  </ul>
</div>