
<div class="row red-background small-padding-top small-padding-bottom header-container">
  <div class="col-sm-3">
    <a href="#"><p class="header-text"  style="padding-top: 5px;">IRINA MANNING</p></a>
  </div> 
  <div class="col-sm-1">
  </div>  
  <div class="col-sm-1">
    <a href="https://twitter.com/irina_manning" target="_blank" class="link-black"><%= image_tag "twitter-icon-black.png", :style => "margin-left: 25px;" %></a>
  </div> 
  <div class="col-sm-1">
    <a href="https://www.linkedin.com/profile/view?id=85920931&trk=hp-identity-photo" target="_blank" class="link-black"><%= image_tag "linkedin-icon-black.png", :style => "margin-left: 25px;"%></a>
  </div>
  <div class="col-sm-1">
    <a href="https://instagram.com/irina.s.manning/" target="_blank" class="link-black"><%= image_tag "instagram-icon-black.png", :style => "margin-left: 25px;" %></a>
  </div>
  <!-- <div class="col-sm-1">
    <a href="#" class="link-black"><%= image_tag "facebook-icon-black.png"  %></a>
  </div> -->
  <div class="col-sm-1">
  </div>
  <div class="col-sm-4">
    <a href="#"><p class="header-text pull-right" style="padding-top: 5px;">IRINAMANNING@GMAIL.COM</p></a>
  </div>  
</div> 
