<!-- nav bar -->
<script>
  $(function() {
    // $('.navbar').hide();
    // $(window).scroll(function() {
    //   console.log($(window).scrollTop());
    //   if ($(window).scrollTop() > 300) {
    //     $('.navbar').fadeIn();
    //   } else {
    //     $('.navbar').fadeOut();
    //   }
    // });
  });
</script>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Irina Manning</p>
      </div>
      <div class="col-sm-2 text-right">
        <p> </p>
      </div>
      <div class="col-xs-1 text-right">
        <a href="https://twitter.com/irina_manning" target="_blank" class="link-black"><%= image_tag "twitter-icon-black.png" %></a>
      </div> 
      <div class="col-xs-1 text-right">
        <a href="https://www.linkedin.com/profile/view?id=85920931&trk=hp-identity-photo" target="_blank" class="link-black"><%= image_tag "linkedin-icon-black.png" %></a>
      </div>
      <div class="col-xs-1 text-right">
        <a href="https://instagram.com/irina.s.manning/" target="_blank" class="link-black"><%= image_tag "instagram-icon-black.png" %></a>
      </div>
      <div class="col-xs-1 text-right">
        <a href="mailto:irinamanning@gmail.com" target="_blank" class="link-black"><%= image_tag "email-icon-black.png" %></a>
      </div>
    </div>
  </div>
</nav>
<!-- end nav bar -->