<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <strong><%= data[:brief] %></strong>
    <hr>
  </div>
  <div class="col-xs-2 text-center"> </div>
</div>
<% data[:sections].each do |section| %>
  <div class="row">
    <div class="col-xs-12 text-center">
      <% unless section[:title].empty? %> 
        <h1><%= section[:title] %></h1>
      <% end %>
      <% unless section[:commentary].empty? %> 
        <p><%= section[:commentary] %></p>
      <% end %>
      <% section[:images].each do |image| %>
        <%= image_tag image, :class => 'center-block img-responsive' %>
        <br />
        <br />
        <hr>
        <br />
      <% end %>
    </div>
  </div>
<% end %>