<%= render :partial => 'nav' %>
  
<div>
  <a href="#" class="link-white"><div><%= image_tag "menu-icon-red.png", :id=>"menu-icon", :class=>"big-padding-top" %></div></a>
  <ul class="nav-menu-list">
    <li><a href="/" class="giorgio-font grey-font link-grey">Home</a></li>
    <li><a href="/projects" class="giorgio-font grey-font link-grey">Work</a></li>
    <li><a href="/instagram" class="giorgio-font grey-font link-grey">Instagram</a></li>
  </ul>
</div>

<div style="height:90px">&nbsp;</div>

<% groups = [[7, 2, 4], [6, 5, 9], [1, 8, 14], [17, 20, 13], [19, 10, 18], [16, 21, 3], [12, 11]] %>
<% groups.each do |group| %>
  <div class="row" style="padding: 0px 85px 30px 85px;">
    <% group.each do |file| %>
      <div class="col-sm-4">
        <%= image_tag "instagram-img/#{file}.jpg", :class=>"img-responsive" %>
      </div>
    <% end %>
  </div> 
<% end %>

<div style="height:90px">&nbsp;</div>

<%= render :partial => 'footer' %>
  
</div>


