<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Becoming Brand website design, UX design and branding</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    <div class="container-fluid" style="max-width: 1400px">
      <div class="row red-background small-padding-top small-padding-bottom header-container">
        <div class="col-sm-3">
          <a href="/" class="link-black"><p class="black-font giorgio-font big-text" style="padding-top: 5px;">BECOMING BRAND</p>
        </div> 
        <div class="col-sm-1">
        </div>  
        <div class="col-sm-1">
          <a href="#" class="link-black"><img src="assets/twitter-icon-black.png" style="margin-left: 25px;"/></a>
        </div> 
        <div class="col-sm-1">
          <a href="#" class="link-black"><img src="assets/linkedin-icon-black.png" style="margin-left: 25px;"/></a>
        </div>
        <div class="col-sm-1">
          <a href="#" class="link-black"><img src="assets/instagram-icon-black.png" style="margin-left: 25px;"/></a>
        </div>
        <!-- <div class="col-sm-1">
          <a href="#" class="link-black"><img src="assets/facebook-icon-black.png" /></a>
        </div> -->
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
          <a href="#" class="link-black"><p class="black-font giorgio-font big-text pull-right" style="padding-top: 5px;">IRINAMANNING@GMAIL.COM</p></a>
        </div>  
      </div>
      
      <div>
        <a href="#" class="link-white"><div><img src="assets/menu-icon-red.png" id="menu-icon" class="big-padding-top"/></div></a>
        <ul class="menu-list">
          <li><a href="/" class="giorgio-font grey-font link-grey">Home</a></li>
          <li><a href="/projects" class="giorgio-font grey-font link-grey">Work</a></li>
          <li><a href="/instagram" class="giorgio-font grey-font link-grey">Instagram</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center" style="width: 100%; padding: 0px;">
          <img src="assets/work/felix-gilman.png" class="img-responsive portfolio-img"/>
          <!-- <div id="felix-details" class="project-details">
            <img src="assets/work/felix-detail-home.png" class="img-responsive center-block" style="max-width: 800px;"/>
            <img src="assets/work/felix-detail-books.png" class="img-responsive center-block" style="max-width: 800px;" />
          </div> -->
          <img src="assets/work/elite-gold.png" class="img-responsive portfolio-img"/>
         <!--  <div id="elite-gold-details" class="project-details">
            <img src="assets/work/elite-gold-detail-home.png" class="img-responsive center-block"/>
            <img src="assets/work/elite-gold-detail-ipad-tilted.jpg" class="img-responsive center-block"/>
          </div> -->
          <img src="assets/work/bfi.png" class="img-responsive portfolio-img"/>
          <!-- <div id="bfi-details" class="project-details">
            <img src="assets/work/bfi-detail-full.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/bfi-detail-full-cover.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/bfi-detail-cover.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/bfi-detail-text.png" class="img-responsive portfolio-img center-block"/>
          </div> -->
          <img src="assets/work/swig.png" class="img-responsive portfolio-img"/>
          <!-- <div id="swig-details" class="project-details">
            <img src="assets/work/swig-detail-girl.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/swig-detail-list.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/swig-detail-profile.png" class="img-responsive portfolio-img center-block"/>
          </div> -->
          <img src="assets/work/bb.png" class="img-responsive portfolio-img"/>
          <!-- <div id="bb-details" class="project-details">
            <img src="assets/work/bb-detail-about.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/bb-detail-ipad.png" class="img-responsive portfolio-img center-block"/>
          </div> -->
          <img src="assets/work/element.png" class="img-responsive portfolio-img"/>
          <!-- <div id="element-details" class="project-details">
            <img src="assets/work/element-detail-mobile.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/element-detail-blue-poster.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/element-detail-two-posters.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/element-detail-all-cards.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/element-detail-flyer.png" class="img-responsive portfolio-img center-block"/>
            <img src="assets/work/element-detail-tickets.png" class="img-responsive portfolio-img center-block"/>


          </div> -->
          <!-- <img src="assets/work/unnamed-peak.png" class="img-responsive portfolio-img"/> -->
          <!-- <img src="assets/work/migm.jpg" class="img-responsive portfolio-img"/> -->
          
          
          
        </div> 
      </div>  


      <div class="row red-background big-padding-top">
        <div class="col-sm-12 text-center">
          <img src="assets/bb-logo-white.png" class="img-responsive img-centered big-padding-bottom"/>
          <h1 class="white-font tag-line palatino-font big-padding-bottom" style="line-height: 40px;"><i>We will help your business become a brand.</i></h1>
          <img src="assets/ask-us-anything.png" class="small-padding-bottom"/>
          <a href="#" class="link-white"><p class="white-font giorgio-font" style="font-size: 30px; letter-spacing: 1px; padding-bottom: 20px; padding-top: 20px;">IRINAMANNING@GMAIL.COM</p></a>
          <div class="small-padding-bottom">
            <a href="#" class="link-white"><img src="assets/twitter-icon-white.png" style="padding: 5px;"/></a>
            <a href="#" class="link-white"><img src="assets/linkedin-icon-white.png" style="padding: 5px;"/></a>
            <a href="#" class="link-white"><img src="assets/instagram-icon-white.png" style="padding: 5px;"/></a>
            <!-- <a href="#" class="link-white"><img src="assets/facebook-icon-white.png" style="padding: 5px;"/></a> -->
          </div>
          <hr>
          <p class="white-font palatino-font small-padding-bottom" style="padding-top: 40px;"><small>Copyright 2015 Irina Manning</small></p>
        </div>
      </div>  
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
  </body>
</html>