/* index.html specific */

#hero-banner {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 180px 0px 0px 0px;
  color: white;
  height: 750px;
}
#hero-banner img { 
  max-width: 150px;
}
#hero-banner h1 {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-family: Plantin;
  color: #ed145b;
  font-style: italic;
}

#value-props {
  padding-bottom: 100px;
}
#value-props a:hover {
  text-decoration: none;
}
#value-props img {
  width: 270px;
}
#value-props h1 {
  margin: 0px 0px 40px 0px;
}
#value-props h2 {
  font-size: 32px;
  color: #ed145b;
  padding-top: 25px;
  padding-bottom: 10px;
  font-family: Plantin;
  font-style: italic;
}
#value-props p {
  margin: 0px 30px;
  font-size: 18px;
}

#principles {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
}
#principles h1 {
  margin: 0px 0px 20px 0px;
}
#principles h2 {
  width: 100%;
  text-align: center;
  font-family: Plantin;
  font-style: italic;
  font-size: 32px;
  font-weight: 100;
  color: white;
  margin: 20px 0px 10px 0px;
}
#principles p {
  width: 60%;
  margin: auto;
  padding: 5px 0px 50px 0px;
  color: white; 
  font-size: 18px;
  line-height: 28px;
  font-family: Avenir;
  font-weight: 200; 
}

#clients {
}
#clients img {
  margin: 20px 50px;
}

#testimonial-author {
  padding: 20px 0px 80px 0px;
  font-family: Plantin;
  font-size: 18px;
  font-weight: 500px;
  color: #ed145b;
}

/* end index.html specific */