@font-face {
  font-family: GiorgioSmallRegular;
  src: url("GiorgioS-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioSmallItalic;
  src: url("GiorgioS-Italic.otf") format("opentype");
}
@font-face {
  font-family: GiorgioMediumRegular;
  src: url("GiorgioM-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioMediumItalic;
  src: url("GiorgioM-Italic.otf") format("opentype");
}
@font-face {
  font-family: GiorgioLargeRegular;
  src: url("GiorgioL-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioLargeItalic;
  src: url("GiorgioL-Italic.otf") format("opentype");
}
@font-face {
  font-family: GiorgioExtraLargeRegular;
  src: url("GiorgioXL-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioExtraLargeItalic;
  src: url("GiorgioXL-Italic.otf") format("opentype");
}


#site-footer {
  background-color: #ed145b;
  padding: 60px 0px 60px 0px;
}
#site-footer p {
  font-size: 15px;
  color: white;
}