@font-face {
  font-family: GiorgioSmallRegular;
  src: url("GiorgioS-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioSmallItalic;
  src: url("GiorgioS-Italic.otf") format("opentype");
}
@font-face {
  font-family: GiorgioMediumRegular;
  src: url("GiorgioM-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioMediumItalic;
  src: url("GiorgioM-Italic.otf") format("opentype");
}
@font-face {
  font-family: GiorgioLargeRegular;
  src: url("GiorgioL-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioLargeItalic;
  src: url("GiorgioL-Italic.otf") format("opentype");
}
@font-face {
  font-family: GiorgioExtraLargeRegular;
  src: url("GiorgioXL-Regular.otf") format("opentype");
}
@font-face {
  font-family: GiorgioExtraLargeItalic;
  src: url("GiorgioXL-Italic.otf") format("opentype");
}


/* site specific */

.navbar { /* boostrap override */
  background-color: #ed145b;  /* hot pink */
  opacity: 1;
  max-height: 20px;
  overflow: hidden;
}
.navbar-default { /* boostrap override */
  border-width: 0px;
}
.navbar p { 
  font-size: 22px;
  color: #222;
  font-family: Plantin;
  text-transform: uppercase;
  margin: 15px 0px 10px 0px;
}
.navbar a {
  color: #222;
}
.navbar a:hover {
  text-decoration: none;
  color: white;
}
.navbar img { 
  margin: 12px 0px;
  width: 25px;
}
.im-content-section {
  padding: 50px 30px 80px 30px;
}
.im-content-section h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Plantin;
  color: #ed145b; /* hot pink */
  text-transform: uppercase;
  font-style: italic;
  margin: 20px 0px;
}

#nav-menu-icon {
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 1000;
}

#nav-menu-icon:hover {
  opacity: 0.6;
}

#nav-menu {
  width: 300px;
  position: fixed;
  top: 0px;
  right: 0px;
  padding-top: 100px;
  padding-right: 50px;
  background-color: black;
  opacity: 0.8;
  height: 100%;
  z-index: 1000;
  font-family: Plantin;
  font-size: 30px;
  text-transform: uppercase;
}

#nav-menu.visible {
  visibility: visible;
}

#nav-menu-close {
  position: relative;
  top: -18px;
  left: 230px;
}

#nav-menu-list {
  margin: 20px 0px 0px 0px;
  list-style: none;
  line-height: 100px;
  text-align: right;
  font-size: 19px;
  letter-spacing: 1px;
}

#nav-menu-list a {
  color: white;
  text-transform: uppercase;
}

#nav-menu-list li a:hover {
  color: #ed145b; /* bright pink */
  text-decoration: none;
}

#nav-menu-close {
  width: 30px;
}

#nav-menu-close:hover {
  opacity: 0.6; 
}

/* site footer */

#site-footer {
  background-color: #ed145b;
  padding: 60px 0px 60px 0px;
}
#site-footer p {
  font-size: 15px;
  color: white;
}

/* end site specific */

/* index.html specific */

#hero-banner {
  background-color: #222;
  background-image: url('/assets/irinamanning-hero-image.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 100%;*/ /* can't do this since it causes background solid color to appear if resized < 1000px
  height: 500px; /* if this is too high, borders will appear */
  padding: 180px 0px 0px 0px;
  color: white;
  height: 590px;
}
#hero-banner img { 
  max-width: 150px;
}
#hero-banner h1 {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-family: Plantin;
  color: #ed145b;
  font-style: italic;
}

#value-props a:hover {
  text-decoration: none;
}

#principles {
  background-color: #222;
  background-image: url('/assets/work-space-image.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 100%;*/ /* can't do this since it causes background solid color to appear if resized < 1000px
  height: 500px; /* if this is too high, borders will appear */
  
}
#principles h1 {

}
#principles h2 {
  width: 100%;
  text-align: center;
  font-family: Plantin;
  font-style: italic;
  font-size: 28px;
  font-weight: 100;
  color: white;
  margin: 20px 0px 10px 0px;
}
#principles p {
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 30px 0px;
  font-family: Avenir;
  font-weight: 200;
  color: white;
  padding: 0px 50px;
}

#clients {
}
#clients img {
  margin: 20px 0px;
}

/* end index.html specific */

/* projects.html specific */

.project-summary-row {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  height: 375px;
}
.project-summary-row .project-info-panel {
  position: relative;
  top: 40px;
  left: 40px;
  width: 300px;
  height: 200px;
  background-color: gray;
}
.project-summary-row .project-info-panel h1 {
  font-size: 20px;
  color: white;
}
.project-summary-row .project-info-panel p {
  font-size: 15px;
  color: white;
}
.project-detail-row {
  
}

/* end projects.html specific */



.header-font {
  font-size: 25px;
  font-family: Plantin;
  color: black;
  /*font-style: italic;*/
}

a p.header-font:hover {
   text-decoration: none;
   opacity: 0.6;
}

.logo {
  position: relative;
  top: 37%;
  
  max-width: 150px;
}

#quote {
  position: absolute;
  top: 80px;
  left: 100px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: right;
  font-family: Plantin;
  font-weight: 100;
  color: silver;
  font-style: italic;
}

span.author {
  padding-right: 5px;
  font-size: 14px;
  font-weight: 100;
}

.tagline {
  position: absolute;
  top: 62%;
  left: 35%;
}

.page-title {
  font-family: Plantin;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  color: #ed145b;
}

.get-in-touch-link {
  font-family: Plantin;
  font-size: 16px;
  color: #ed145b;
  font-weight: 600;
}

.get-in-touch-link:hover {
  color: #ed145b; 
}

#close-icon {
  position: absolute;
  top: 20%;
  right: 7.5%;
  visibility: hidden;
}





.header-container {
  padding: 0px 85px 0px 85px;
}

.big-text {
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
} 

.red-background {
  background-color: #ed145b;
}

.grey-background {
  background-color: #dddddd;
}

.red-font {
  color: #ed145b;
}

.white-font {
  color: #ffffff;
  font-weight: 100;
}

.grey-font {
  color: grey;
}

.black-font {
  color: black;
  opacity: 75%;
}

.big-padding-top {
  padding-top: 60px;
}

.big-padding-bottom {
  padding-bottom: 60px;
}

.small-padding-top {
  padding-top: 30px;
}

.small-padding-bottom {
  padding-bottom: 30px;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.padding-left {
  padding-left: 85px;
}

.padding-right {
  padding-right: 85px;
}

img.full-screen {
  width: 100%;
}

img.img-centered {
  margin: auto;
}

h1 {
  margin: 0px;
  padding-top: 20px;
  line-height: 70px;
}

p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  margin: 0px;
  font-family: Avenir;
  font-weight: 200;
}

h3 {
  margin: 0px;  
}

img {
  margin: 0px;
  padding: 0px;
}

a {
  margin: 0px;
  padding: 0px;
}

.about-text {
  font-size: 20px;
  line-height: 35px;
}

.skill-name {
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-family: Plantin;
  font-style: italic;

}

.principles {
  font-family: Plantin;
  font-style: italic;
  font-size: 36px;
  font-weight: 100;
}

/*.principles-section {
  background-image: url('assets/work-space-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 800px;
}*/

.principles-section {
  position: absolute;
  top: 2%;
}

.tag-line {
  font-weight: 100;
  font-family: Plantin;
  font-style: italic;
  font-size: 50px;
}

hr {
  width: 520px;
}

a.link-white:hover {
  opacity: 0.6;
  text-decoration: none;
}

ul li a.link-grey:hover {
  color: #ed145b;
  text-decoration: none;
}


a.link-white img:hover {
  opacity: 0.6;
  text-decoration: none;
}

a.link-white p:hover {
  opacity: 0.6;
  text-decoration: none;
}

div a.link-red:hover {
  color: #ed145b;
}

a.link-black:hover {
  opacity: 0.5;
}

a.link-black p:hover {
  color: white;
  text-decoration: none;
}

div a.link-black:hover {
  color: white;
  text-decoration: none;
}

.client-name {
  font-family: Plantin;
  font-weight: 600;
  font-size: 18px;
}

.testimonial {
  font-family: Plantin;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
}

.copyright {
  font-size: 12px;
  font-family: Avenir;
}

/*.project-details {
  visibility: hidden;
}*/

